body.dark-mode {
    background-color: rgb(189, 185, 185);
    color: rgb(245, 243, 243);
}

body.dark-mode h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(116, 4, 13);
}

body.dark-mode a {
    color: rgb(241, 237, 237);
}

body.dark-mode header > span {
    color: rgb(102, 101, 101);
    border-top-color: rgb(116, 4, 13);
}

body.dark-mode section {
    color: rgb(224, 223, 223);
    box-shadow: 5px 5px 18px 2px rgb(224, 223, 223);
}

body.dark-mode section:nth-of-type(odd) {
    background-color: rgba(160, 149, 131, 0.35);
}

body.dark-mode section:nth-of-type(even) {
    background-color: rgb(163, 152, 150);
}

body.dark-mode section h2 {
    color: rgb(128, 36, 40);
    border-color: rgb(128, 36, 40);
}

body.dark-mode section > p::first-letter {
    color: rgb(128, 36, 40);
}

body.dark-mode aside .moon-svg {
    /* used to style the svg with color white */
    filter: invert(100%) sepia(8%) saturate(7087%) hue-rotate(184deg) brightness(122%) contrast(107%);
}

body.dark-mode aside .sun-svg {
    /* used to style the svg with color white */
    filter: invert(100%) sepia(8%) saturate(7087%) hue-rotate(184deg) brightness(122%) contrast(107%);
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode button {
    background-color: rgba(239, 234, 234, 0.65);
    color: rgba(150, 50, 0, 1);
}

body.dark-mode button:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

body.dark-mode input:focus,
textarea:focus {
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.3);
}

body.dark-mode .rating > span {
    color: rgba(255, 255, 255, 0.5);
}

body.dark-mode .rating > span:hover:before,
body.dark-mode .rating > span:hover ~ span:before {
    color: rgba(255, 255, 255, 0.8);
}

body.dark-mode .selected-star:before {
    color: rgba(255, 255, 255, 0.5);
}
