:root {
    --bg-dark-body-rgb: rgb(189, 185, 185);
    --bg-dark-primary-rgb: rgb(116, 4, 13);
    --dark-color-even-rgb: rgb(163, 152, 150);
    --dark-color-odd-rgba: rgba(160, 149, 131, 0.35);
    --dark-background-rgb: rgb(224, 223, 223);
}

body.dark-mode {
    background-color: var(--bg-dark-body-rgb);
    color: var(--dark-background-rgb);
}

body.dark-mode h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--bg-dark-primary-rgb);
}

body.dark-mode a {
    color: rgba(var(--color-white), 0.5);
}

body.dark-mode a:hover {
    color: rgba(var(--color-white), 0.8);
}

body.dark-mode header > span {
    color: rgb(var(--color-gray));
    border-top-color: var(--bg-dark-primary-rgb);
}

body.dark-mode section {
    color: var(--dark-background-rgb);
    box-shadow: 5px 5px 18px 2px var(--dark-background-rgb);
}

body.dark-mode section:nth-of-type(odd) {
    background-color: var(--dark-color-odd-rgba);
}

body.dark-mode section:nth-of-type(even) {
    background-color: var(--dark-color-even-rgb);
}

body.dark-mode section h2 {
    color: var(--bg-dark-primary-rgb);
    border-color: var(--bg-dark-primary-rgb);
}

body.dark-mode section > p::first-letter {
    color: var(--bg-dark-primary-rgb);
}

body.dark-mode aside .moon-svg {
    /* used to style the svg with color white */
    filter: invert(100%) sepia(8%) saturate(7087%) hue-rotate(184deg) brightness(122%) contrast(107%);
}

body.dark-mode aside .sun-svg {
    /* used to style the svg with color white */
    filter: invert(100%) sepia(8%) saturate(7087%) hue-rotate(184deg) brightness(122%) contrast(107%);
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode button {
    background-color: rgba(var(--color-white), 0.45);
    color: var(--bg-dark-primary-rgb);
}

body.dark-mode button:hover,
body.dark-mode button.active {
    background-color: rgba(var(--color-white), 0.75);
}

body.dark-mode input:focus,
textarea:focus {
    box-shadow: 0 0 3px 1px rgba(var(--color-white), 0.3);
}

body.dark-mode .rating > span {
    color: rgba(var(--color-white), 0.5);
}

body.dark-mode .rating > span:hover:before,
body.dark-mode .rating > span:hover ~ span:before {
    color: rgba(var(--color-white), 0.8);
}

body.dark-mode .selected-star:before {
    color: rgba(var(--color-white), 0.5);
}

body.dark-mode .action-bar {
    background-color: var(--dark-color-even-rgb);
}

body.dark-mode .note {
    color: black;
}

body.dark-mode .notes-container > *:nth-of-type(odd) {
    background-color: var(--dark-color-odd-rgba);
}

body.dark-mode .notes-container > *:nth-of-type(even) {
    background-color: var(--dark-color-even-rgb);
}

body.dark-mode .note-card.done {
    background-color: rgba(var(--color-gray), 0.5);
}

body.dark-mode .note-label {
    color: black;
}

body.dark-mode .note-value {
    color: rgb(var(--color-white));
}
