.my-notes {
    width: 100%;
}

.title {
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--bg-dark-primary-rgb);
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.notes-container > *:nth-of-type(odd) {
    background-color: var(--color-odd-rgb);
}

.notes-container > *:nth-of-type(even) {
    background-color: var(--color-even-rgb);
}

.note-card.done {
    background-color: rgba(var(--color-gray), 0.1);
}

.finished-notes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.finished-notes > div {
    flex-basis: 35%;
    border-top: 1px solid var(--bg-dark-primary-rgb);
}

.finished-notes > button {
    margin-top: -15px;
    margin-left: 1em;
}

.action-bar {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    margin-bottom: 1.5em;

    border-radius: 5px;
    padding: 10px;
    background-color: rgba(var(--color-gray), 0.2);
}

.action-bar > button:hover {
    text-decoration: underline;
}

.note-card {
    position: relative;
    display: flex;
    flex-basis: 29%;
    margin-right: 2em;
    margin-bottom: 2em;
    border-radius: 0.5em;
}

.note-card:hover .actions {
    visibility: visible;
    background-color: rgba(var(--primary-color), 0.2);
    opacity: 1;
    width: 80px;
}

.note-card:hover .show-on-note-hover {
    visibility: visible;
}

.show-on-note-hover {
    visibility: hidden;
}

.note {
    display: flex;
    flex-direction: row;
    padding: 1em;
    transition: box-shadow 0.2s;
}

.note-values {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1em;
}

.note-values > * {
    display: flex;
    flex-direction: column;
}

.note-label {
    color: rgb(var(--color-gray));
    font-size: 0.8em;
    padding-bottom: 0.2em;
}

.note-value {
    padding-left: 1em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: row;
}

/* Every 3rd and the last note-card does not require a margin because it's at the end of the line */
.note-card:nth-child(3n),
.note-card:last-child {
    margin-right: 0;
}

.note-card > .note h6 {
    margin: 0;
}

.note-card.done > .note h6 {
    text-decoration: line-through;
}

.actions {
    position: absolute;
    height: 100%;
    opacity: 0;
    width: 60px;
    border-radius: 0.5em;
    right: 0;
    transition: all 0.4s ease-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.actions > * {
    margin-right: 0 !important;
}
