.my-notes {
    width: 100%;
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid darkgray;
}

.notes-container h6 {
    margin: 0;
}

.notes-container > * {
    flex-basis: 25%;
    margin-right: 2em;
    margin-bottom: 2em;
    padding: 1em;
    border-radius: 0.5em;
}

.notes-container > *:nth-of-type(odd) {
    background-color: rgb(248, 246, 246);
}

.notes-container > *:nth-of-type(even) {
    background-color: rgb(238, 233, 232);
}

.note {
    transition: box-shadow 0.2s;
}

.note:hover {
    box-shadow: 0 0 3px 1px rgba(150, 50, 0, 0.3);
}

.note-title {
    display: flex;
    justify-content: space-between;
}

.note-title button {
    font-size: 0.8em;
}

.show-on-note-hover {
    visibility: hidden;
}

.note:hover .show-on-note-hover {
    visibility: visible;
}
