body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    margin: 0;

    /* Defines 1em for the entire page */
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
}

a {
    color: gray;
}

a:hover {
    color: darkgray;
}

main > * {
    padding: 25px 50px;
}

header {
    padding: 25px;

    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
}

header > span {
    color: gray;
    margin-top: -15px;
    padding-top: 10px;
    font-size: small;
    border-top: 2px solid;
    border-top-color: rgba(150, 50, 0, 1);
}

aside {
    /* used to make flexbox and 'sticky' work! */
    align-self: flex-start;

    position: sticky;
    top: 15px;
    padding: 0 10px;
    margin-top: 35px;
}

aside ul {
    font-size: 0.8em;
    padding-left: 5px;
    margin: 0;
    list-style-type: none;
}

aside ul:last-of-type {
    margin-bottom: 20px;
}

aside ul:not(:first-of-type) {
    margin-top: 10px;
}

aside ul > li {
    padding-top: 5px;
}

aside > div {
    padding-left: 10px;
    border-left: 2px solid;
    border-color: rgba(150, 50, 0, 0.5);
}

div.content {
    display: flex;
    flex: 1 1 0;
    flex-direction: row-reverse;
}

section {
    display: flex;
    flex: 1 1 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

section h2 {
    padding-top: 0.75em;
    padding-bottom: 1em;

    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: rgba(150, 50, 0, 1);
    color: rgba(150, 50, 0, 1);
}

section > p::first-letter {
    font-family: inherit serif;
    color: rgba(150, 50, 0, 1);
    float: left;
    font-size: 28px;
    line-height: 20px;
    padding: 4px 6px 0 4px;
}

section:nth-of-type(odd) {
    flex-direction: row;
    background-color: rgba(150, 50, 0, 0.05);
}

section:nth-of-type(even) {
    flex-direction: row-reverse;
    background-color: white;
}

section:nth-of-type(odd) h2 {
    margin-right: 30px;
}

section:nth-of-type(even) h2 {
    margin-left: 30px;
}

footer {
    padding: 10px;

    display: flex;
    flex: 1 1 0;
    justify-content: center;
    background-color: rgba(150, 50, 0, 0.05);
}
