body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    margin: 0;

    /* Defines 1em for the entire page */
    font-size: 18px;

    transition: all 0.4s;
    transition-timing-function: ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.5em;
    color: rgba(150, 50, 0, 1);
}

h1 {
    font-size: 3em;
}

h6 {
    font-size: 1.2em;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    color: darkgray;
}

main {
    display: flex;
    flex: 1 1 0;
    max-width: 950px;
    padding-left: 3em;
    padding-right: 3em;
}

header {
    padding: 25px;

    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: center;
}

header > span {
    color: gray;
    margin-top: -15px;
    padding-top: 10px;
    font-size: 1.2em;
    border-top: 2px solid;
    border-top-color: rgba(150, 50, 0, 1);
}

aside {
    /* used to make flexbox and 'position: sticky' work! */
    align-self: flex-start;
    position: sticky;

    top: 15px;
    padding-right: 3em;

    font-size: 1em;
}

aside > div:not(:first-of-type) {
    padding-top: 40px;
}

aside > div > span {
    color: rgba(150, 50, 0, 1);
    font-size: 1.2em;
}

aside .color-switcher {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    margin-top: 10px;
}

aside .color-switcher > * {
    margin-right: 10px;
}

aside .color-switcher > img:last-of-type {
    padding-right: 0;
}

aside .moon-svg {
    height: 0.8em;
    width: 0.8em;
}

aside .sun-svg {
    height: 1em;
    width: 1em;
}

aside ul {
    min-width: calc(100% + 2em);
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

aside ul:not(:first-of-type) {
    margin-top: 10px;
}

aside ul > li {
    margin-top: 10px;
    display: flex;
    align-items: center;

    transition-property: all;
    transition-duration: 0.4s;
}

aside ul > li::before {
    content: '\00BB';
    font-size: 1.2em;
    color: rgba(150, 50, 0, 1);
    opacity: 0;

    transition: all 0.5s;
    padding-right: 0.1em;
}

aside ul > li.active::before {
    opacity: 1;
}

aside ul > li.active a {
    color: rgba(150, 50, 0, 1);
    transition: 0.5s;
}

div.content {
    display: flex;
    flex: 1 1 0;
    flex-direction: row-reverse;
    justify-content: center;
}

section {
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px 25px;
    box-shadow: 5px 5px 18px 2px rgb(190, 185, 185);
}

section > *:not(h2) {
    flex-basis: 70%;
    flex-grow: 1;
}

section.slim {
    padding-top: 10px;
    padding-bottom: 10px;
}

section:not(:first-of-type) {
    margin-top: 80px;
}

section h2 {
    flex-basis: 20%;
    padding-top: 0.75em;
    padding-bottom: 1em;

    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: rgba(150, 50, 0, 1);
    color: rgba(150, 50, 0, 1);
}

section > p::first-letter {
    font-family: inherit serif;
    color: rgba(150, 50, 0, 1);
    font-size: 2.5em;
    line-height: 1em;
    padding-right: 0.1em;
}

section:nth-of-type(odd) {
    flex-direction: row;
    background-color: rgb(248, 246, 246);
    transform: skewY(-2deg);
}

section:nth-of-type(even) {
    flex-direction: row-reverse;
    background-color: rgb(238, 233, 232);
    transform: skewY(2deg);
}

section:nth-of-type(odd) h2 {
    margin-right: 30px;
}

section:nth-of-type(even) h2 {
    margin-left: 30px;
}

footer {
    padding: 10px;
    margin-top: 30px;

    display: flex;
    flex: 1 1 0;
    justify-content: center;
    color: rgb(102, 101, 101);
}

button.btn-link {
    background: none !important;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 0.8em;
    margin-right: 1em;
    transition: transform 0.2s;
}

button.btn-link.text-large {
    font-size: 1.5em;
}

button.btn-link.text-bold {
    font-weight: 600;
}

button.btn-link:hover {
    transform: scale(1.1);
}

button.btn-link:focus {
    box-shadow: none;
}

.sliding-btn {
    display: inline-block;
    background-color: rgba(150, 50, 0, 0.75);
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 6px 10px;
    font-size: 1em;
    transition: all 0.5s;
    cursor: pointer;
}

.sliding-btn:hover,
.sliding-btn.active {
    background-color: rgba(150, 50, 0, 1);
}

.sliding-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.sliding-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.sliding-btn:hover span {
    padding-right: 15px;
}

.sliding-btn:hover span:after {
    opacity: 1;
    right: 0;
}
