.switch {
    position: relative;
    display: flex;
    width: 3rem;
    height: 1.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color-rgba);
    opacity: 0.35;
    transition: 0.2s;
    transition-timing-function: linear;
}

.slider:before {
    position: absolute;
    content: '';
    left: 1px;
    top: 1px;
    height: calc(1.5rem - 2px);
    width: calc(1.5rem - 2px);
    background-color: rgb(var(--color-white));
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--primary-color-rgba);
}

input:checked + .slider:before {
    transform: translateX(1.5rem);
}

/* Rounded sliders */
.slider.round {
    border-radius: 2rem;
}

.slider.round:before {
    border-radius: 50%;
}
