.switch {
    position: relative;
    display: flex;
    width: 20px;
    height: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(150, 50, 0, 0.35);
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    left: 1px;
    top: 1px;
    height: 8px;
    width: 8px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: rgba(150, 50, 0, 1);
}

input:checked + .slider:before {
    transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 35px;
}

.slider.round:before {
    border-radius: 50%;
}
