{
    "extends": "eslint:recommended",
    "rules": {
        "semi": ["error", "always"],
        "quotes": [2, "single", "avoid-escape"],
        "prefer-const": "warn",
        "no-console": "warn"
    },
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "arrowFunctions": true

        }
    },
    "env": {
        "jquery": true,
        "es6": true
    }
}
